example-flows/01-message-headers.json
[
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "nats-server-config",
        "dataformat": "specific_topic",
        "datapointid": "test.headers",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "debug": true,
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "nats-server-config",
        "dataformat": "specific_subject",
        "datapointid": "test.headers",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ New Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Expected:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    }
]

