example-flows/02-consumer-pause-resume.json
[
    {
        "id": "pause-resume-example",
        "type": "tab",
        "label": "02 - Consumer Pause/Resume Test",
        "disabled": false,
        "info": "Test for Consumer Pause/Resume feature\n\n1. Deploy the flow\n2. Click 'Create Stream'\n3. Click 'Fill Stream' (10 messages)\n4. Click 'Start Consume'\n5. While consuming: click 'Pause'\n6. Click 'Resume'\n7. Click 'Continue Consume'"
    },
    {
        "id": "inject-create-stream",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "1. Create Stream",
        "props": [
            {
                "p": "operation",
                "v": "create",
                "vt": "str"
            },
            {
                "p": "stream",
                "v": "test-stream",
                "vt": "str"
            },
            {
                "p": "subjects",
                "v": "test.>",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "stream-publisher"
            ]
        ]
    },
    {
        "id": "inject-fill-stream",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "2. Fill Stream (10 msgs)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "function-fill"
            ]
        ]
    },
    {
        "id": "function-fill",
        "type": "function",
        "z": "pause-resume-example",
        "name": "Generate 10 Messages",
        "func": "for (let i = 0; i < 10; i++) {\n  node.send({\n    payload: {\n      id: i,\n      data: `Message ${i}`,\n      timestamp: Date.now()\n    }\n  });\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "stream-publisher"
            ]
        ]
    },
    {
        "id": "stream-publisher",
        "type": "nats-suite-stream-publisher",
        "z": "pause-resume-example",
        "name": "Stream Publisher",
        "server": "nats-server-config",
        "operation": "publish",
        "streamName": "test-stream",
        "subject": "test.data",
        "x": 620,
        "y": 120,
        "wires": [
            [
                "debug-publisher"
            ]
        ]
    },
    {
        "id": "debug-publisher",
        "type": "debug",
        "z": "pause-resume-example",
        "name": "Publisher Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-start-consume",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "3. Start Consume",
        "props": [
            {
                "p": "batchSize",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-pause",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "4. PAUSE",
        "props": [
            {
                "p": "operation",
                "v": "pause",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-resume",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "5. RESUME",
        "props": [
            {
                "p": "operation",
                "v": "resume",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-continue",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "6. Continue Consume",
        "props": [
            {
                "p": "batchSize",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "stream-consumer",
        "type": "nats-suite-stream-consumer",
        "z": "pause-resume-example",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "operation": "consume",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "batchSize": "10",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "function-ack",
                "debug-consumer"
            ]
        ]
    },
    {
        "id": "function-ack",
        "type": "function",
        "z": "pause-resume-example",
        "name": "ACK Message",
        "func": "if (msg.ack) {\n  msg.ack();\n  node.log('Message acknowledged');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-consumer",
        "type": "debug",
        "z": "pause-resume-example",
        "name": "Consumer Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment-pause-resume",
        "type": "comment",
        "z": "pause-resume-example",
        "name": "Consumer Pause/Resume Feature Test",
        "info": "# Consumer Pause/Resume Test\n\n## Flow:\n1. Create stream\n2. Write 10 messages into the stream\n3. Start consumer (batch 10)\n4. Click **PAUSE** → consumer stops\n5. Click **RESUME** → consumer continues\n6. Click Continue Consume → further messages\n\n## Expected:\n- After pause: status shows \"paused\"\n- After resume: status shows \"resumed\"\n- Consumption can be continued"
    }
]

