example-flows/03-service-echo.json
[
    {
        "id": "service-echo-example",
        "type": "tab",
        "label": "03 - Service API Echo Service",
        "disabled": false,
        "info": "Test für Service API Feature - Echo Service\n\n1. Deploy Flow (Service startet automatisch)\n2. 'Discover Services' klicken → Service wird gefunden\n3. 'Call Echo Service' klicken → Erhält Echo-Response\n4. 'Get Service Stats' klicken → Zeigt Request-Statistiken"
    },
    {
        "id": "service-echo",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Echo Service",
        "server": "nats-server-config",
        "mode": "service",
        "serviceName": "echo-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "Simple Echo Service for Testing",
        "endpoint": "process",
        "endpointSubject": "echo.process",
        "queueGroup": "echo-service",
        "autoStart": true,
        "debug": true,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "function-echo-handler"
            ]
        ]
    },
    {
        "id": "function-echo-handler",
        "type": "function",
        "z": "service-echo-example",
        "name": "Echo Handler",
        "func": "// Validate request\nif (!msg.payload || !msg.payload.message) {\n  msg.respondError('Missing message field', 'VALIDATION_ERROR');\n  node.error('Validation failed: Missing message field');\n  return null;\n}\n\n// Process request\nconst response = {\n  echo: msg.payload.message,\n  timestamp: Date.now(),\n  service: 'echo-service',\n  version: '1.0.0',\n  requestId: msg.payload.requestId || 'unknown'\n};\n\nnode.log('Echo request processed: ' + msg.payload.message);\n\n// Respond to caller\nmsg.respond(response);\n\n// Don't send to output (response already sent)\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-discover",
        "type": "inject",
        "z": "service-echo-example",
        "name": "1. Discover Services",
        "props": [
            {
                "p": "operation",
                "v": "discover",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "service-discover"
            ]
        ]
    },
    {
        "id": "service-discover",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Discover",
        "server": "nats-server-config",
        "mode": "discover",
        "serviceName": "*",
        "debug": true,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "debug-discover"
            ]
        ]
    },
    {
        "id": "debug-discover",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Services Found",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject-call-service",
        "type": "inject",
        "z": "service-echo-example",
        "name": "2. Call Echo Service",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello from client!\",\"requestId\":\"req-12345\"}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "request-echo"
            ]
        ]
    },
    {
        "id": "request-echo",
        "type": "nats-suite-request",
        "z": "service-echo-example",
        "name": "Request Echo",
        "server": "nats-server-config",
        "dataformat": "specific_subject",
        "subject": "echo.process",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "debug-echo-response"
            ]
        ]
    },
    {
        "id": "debug-echo-response",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Echo Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-stats",
        "type": "inject",
        "z": "service-echo-example",
        "name": "3. Get Service Stats",
        "props": [
            {
                "p": "operation",
                "v": "stats",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "service-stats"
            ]
        ]
    },
    {
        "id": "service-stats",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Get Stats",
        "server": "nats-server-config",
        "mode": "stats",
        "serviceName": "*",
        "debug": true,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "debug-stats"
            ]
        ]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Service Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject-ping",
        "type": "inject",
        "z": "service-echo-example",
        "name": "4. Ping Service",
        "props": [
            {
                "p": "operation",
                "v": "ping",
                "vt": "str"
            },
            {
                "p": "serviceName",
                "v": "echo-service",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "service-ping"
            ]
        ]
    },
    {
        "id": "service-ping",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Ping",
        "server": "nats-server-config",
        "mode": "ping",
        "serviceName": "echo-service",
        "debug": true,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "debug-ping"
            ]
        ]
    },
    {
        "id": "debug-ping",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Ping Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "comment-service",
        "type": "comment",
        "z": "service-echo-example",
        "name": "✨ Neues Feature: Service API ✨",
        "info": "# Service API Test - Echo Service\n\n## Service:\n- Name: echo-service\n- Version: 1.0.0\n- Endpoint: process (echo.process)\n- Auto-Start: TRUE\n\n## Tests:\n1. **Discover:** Findet alle Services\n2. **Call:** Sendet Request, erhält Echo\n3. **Stats:** Zeigt Request-Statistiken\n4. **Ping:** Prüft Service-Verfügbarkeit\n\n## Erwartete Outputs:\n\n### Discover:\n```json\n[\n  {\n    \"name\": \"echo-service\",\n    \"version\": \"1.0.0\",\n    \"description\": \"Simple Echo Service\"\n  }\n]\n```\n\n### Call Response:\n```json\n{\n  \"echo\": \"Hello from client!\",\n  \"timestamp\": 1234567890,\n  \"service\": \"echo-service\",\n  \"version\": \"1.0.0\",\n  \"requestId\": \"req-12345\"\n}\n```\n\n### Stats:\n```json\n[\n  {\n    \"name\": \"echo-service\",\n    \"stats\": {\n      \"requests\": 5,\n      \"errors\": 0\n    }\n  }\n]\n```",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-load-test",
        "type": "inject",
        "z": "service-echo-example",
        "name": "5. Load Test (100 Requests)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "function-load-test"
            ]
        ]
    },
    {
        "id": "function-load-test",
        "type": "function",
        "z": "service-echo-example",
        "name": "Send 100 Requests",
        "func": "for (let i = 0; i < 100; i++) {\n  node.send({\n    payload: {\n      message: `Load test message ${i}`,\n      requestId: `load-test-${i}`\n    }\n  });\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "request-echo-load"
            ]
        ]
    },
    {
        "id": "request-echo-load",
        "type": "nats-suite-request",
        "z": "service-echo-example",
        "name": "Request Echo",
        "server": "nats-server-config",
        "dataformat": "specific_subject",
        "subject": "echo.process",
        "timeout": 5000,
        "handleTimeout": true,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "function-count-responses"
            ]
        ]
    },
    {
        "id": "function-count-responses",
        "type": "function",
        "z": "service-echo-example",
        "name": "Count Responses",
        "func": "// Count successful responses\nlet count = context.get('responseCount') || 0;\ncount++;\ncontext.set('responseCount', count);\n\nif (count % 10 === 0) {\n  node.log(`Received ${count} responses`);\n}\n\nif (count === 100) {\n  node.log('✅ Load test complete: 100/100 responses received');\n  context.set('responseCount', 0);\n}\n\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "x": 810,
        "y": 540,
        "wires": []
    }
]

