examples/flows.json
[
    {
        "id": "d970d99ab7b62ec8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "pause-resume-example",
        "type": "tab",
        "label": "02 - Consumer Pause/Resume Test",
        "disabled": true,
        "info": "Test for Consumer Pause/Resume feature\n\n1. Deploy the flow\n2. Click 'Create Stream'\n3. Click 'Fill Stream' (10 messages)\n4. Click 'Start Consume'\n5. While consuming: click 'Pause'\n6. Click 'Resume'\n7. Click 'Continue Consume'"
    },
    {
        "id": "service-echo-example",
        "type": "tab",
        "label": "03 - Service API Echo Service",
        "disabled": true,
        "info": "Test for Service API feature - Echo Service\n\n1. Deploy the flow (service starts automatically)\n2. Click 'Discover Services' → service is discovered\n3. Click 'Call Echo Service' → receives echo response\n4. Click 'Get Service Stats' → shows request statistics"
    },
    {
        "id": "7af22689f9d37b1b",
        "type": "tab",
        "label": "Publish Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-publish node\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers (static + dynamic)\n- Message Expiration (TTL)\n- Buffering (count + bytes, persistence)\n- Batch Processing\n- Rate Limiting\n- Auto-Reply Handler"
    },
    {
        "id": "request-examples",
        "type": "tab",
        "label": "Request Node - All Features",
        "disabled": true,
        "info": "Comprehensive examples for nats-suite-request node\n\nFeatures demonstrated:\n- Basic request/reply\n- Timeout handling\n- Different data formats\n- Error handling"
    },
    {
        "id": "f299d3b622714522",
        "type": "nats-suite-server",
        "server": "nats://nats-server:4222",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "63f3bd466aaef063",
        "type": "nats-suite-server",
        "server": "nats://localhost:4223",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": "",
        "reconnectTimeWait": "",
        "timeout": "",
        "pingInterval": "",
        "maxPingOut": "",
        "debug": true
    },
    {
        "id": "a1f8112d99dd599c",
        "type": "nats-suite-server",
        "server": "nats://localhost:4223",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "572868ddc8f6bb8e",
        "type": "nats-suite-server-manager",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "serverType": "embedded",
        "port": "4223",
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": true,
        "debug": true,
        "serverName": "",
        "maxConnections": "",
        "maxPayload": "",
        "maxSubscriptions": "",
        "maxControlLine": "",
        "writeDeadline": "",
        "httpPort": "",
        "httpsPort": "",
        "enableTrace": false,
        "enableDebugLog": false,
        "noLog": false,
        "logFile": "",
        "pidFile": "",
        "maxMemoryStore": "",
        "syncInterval": "",
        "hostAddr": "",
        "clientAdvertise": "",
        "noAdvertise": false,
        "connectRetries": "",
        "enableLeafNodeMode": false,
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "443684332dd71c8b",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "test",
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "x": 410,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "04aeed2b87e4e013",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "443684332dd71c8b"
            ]
        ]
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "a1f8112d99dd599c",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "f299d3b622714522",
        "dataformat": "auto",
        "datapointid": "",
        "topicfield": "subject",
        "subscriptionMode": "dynamic",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ Neues Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Erwartet:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug Log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "0629794872e46bf7",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "247cfc25a19c5524",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers2",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "inject-create-stream",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "1. Create Stream",
        "props": [
            {
                "p": "operation",
                "v": "create",
                "vt": "str"
            },
            {
                "p": "stream",
                "v": "test-stream",
                "vt": "str"
            },
            {
                "p": "subjects",
                "v": "test.>",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "stream-publisher"
            ]
        ]
    },
    {
        "id": "inject-fill-stream",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "2. Fill Stream (10 msgs)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "function-fill"
            ]
        ]
    },
    {
        "id": "function-fill",
        "type": "function",
        "z": "pause-resume-example",
        "name": "Generate 10 Messages",
        "func": "for (let i = 0; i < 10; i++) {\n  node.send({\n    payload: {\n      id: i,\n      data: `Message ${i}`,\n      timestamp: Date.now()\n    }\n  });\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "stream-publisher"
            ]
        ]
    },
    {
        "id": "stream-publisher",
        "type": "nats-suite-stream-publisher",
        "z": "pause-resume-example",
        "name": "Stream Publisher",
        "server": "63f3bd466aaef063",
        "streamName": "test-stream",
        "subjectPattern": "",
        "defaultSubject": "",
        "maxMessages": "",
        "maxAge": "",
        "maxBytes": "",
        "duplicateWindow": "",
        "replicas": "",
        "operation": "publish",
        "x": 620,
        "y": 120,
        "wires": [
            [
                "debug-publisher"
            ]
        ]
    },
    {
        "id": "debug-publisher",
        "type": "debug",
        "z": "pause-resume-example",
        "name": "Publisher Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-start-consume",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "3. Start Consume",
        "props": [
            {
                "p": "batchSize",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-pause",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "4. ✋ PAUSE",
        "props": [
            {
                "p": "operation",
                "v": "pause",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-resume",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "5. ▶️ RESUME",
        "props": [
            {
                "p": "operation",
                "v": "resume",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "inject-continue",
        "type": "inject",
        "z": "pause-resume-example",
        "name": "6. Continue Consume",
        "props": [
            {
                "p": "batchSize",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "stream-consumer"
            ]
        ]
    },
    {
        "id": "stream-consumer",
        "type": "nats-suite-stream-consumer",
        "z": "pause-resume-example",
        "name": "Stream Consumer",
        "server": "63f3bd466aaef063",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "filterSubject": "",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "ackWait": "",
        "maxDeliver": "",
        "maxAckPending": "",
        "idleHeartbeat": "",
        "flowControl": false,
        "batchSize": "10",
        "maxWait": "",
        "operation": "consume",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "function-ack",
                "debug-consumer"
            ]
        ]
    },
    {
        "id": "function-ack",
        "type": "function",
        "z": "pause-resume-example",
        "name": "ACK Message",
        "func": "if (msg.ack) {\n  msg.ack();\n  node.log('Message acknowledged');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-consumer",
        "type": "debug",
        "z": "pause-resume-example",
        "name": "Consumer Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment-pause-resume",
        "type": "comment",
        "z": "pause-resume-example",
        "name": "✨ New Feature: Consumer Pause/Resume ✨",
        "info": "# Consumer Pause/Resume Test\n\n## Flow:\n1. Create stream\n2. Write 10 messages into the stream\n3. Start consumer (batch 10)\n4. Click **PAUSE** → consumer stops\n5. Click **RESUME** → consumer continues\n6. Click Continue Consume → further messages\n\n## Expected:\n- After pause: status shows \"paused\"\n- After resume: status shows \"resumed\"\n- Consumption can be continued",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "service-echo",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Echo Service",
        "server": "",
        "mode": "service",
        "serviceName": "echo-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "Simple Echo Service for Testing",
        "endpoint": "process",
        "endpointSubject": "echo.process",
        "queueGroup": "echo-service",
        "autoStart": true,
        "debug": true,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "function-echo-handler"
            ]
        ]
    },
    {
        "id": "function-echo-handler",
        "type": "function",
        "z": "service-echo-example",
        "name": "Echo Handler",
        "func": "// Validate request\nif (!msg.payload || !msg.payload.message) {\n  msg.respondError('Missing message field', 'VALIDATION_ERROR');\n  node.error('Validation failed: Missing message field');\n  return null;\n}\n\n// Process request\nconst response = {\n  echo: msg.payload.message,\n  timestamp: Date.now(),\n  service: 'echo-service',\n  version: '1.0.0',\n  requestId: msg.payload.requestId || 'unknown'\n};\n\nnode.log('Echo request processed: ' + msg.payload.message);\n\n// Respond to caller\nmsg.respond(response);\n\n// Don't send to output (response already sent)\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-discover",
        "type": "inject",
        "z": "service-echo-example",
        "name": "1. Discover Services",
        "props": [
            {
                "p": "operation",
                "v": "discover",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "service-discover"
            ]
        ]
    },
    {
        "id": "service-discover",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Discover",
        "server": "",
        "mode": "discover",
        "serviceName": "*",
        "debug": true,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "debug-discover"
            ]
        ]
    },
    {
        "id": "debug-discover",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Services Found",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject-call-service",
        "type": "inject",
        "z": "service-echo-example",
        "name": "2. Call Echo Service",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Hello from client!\",\"requestId\":\"req-12345\"}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "request-echo"
            ]
        ]
    },
    {
        "id": "request-echo",
        "type": "nats-suite-request",
        "z": "service-echo-example",
        "name": "Request Echo",
        "server": "",
        "dataformat": "specific_subject",
        "subject": "echo.process",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "debug-echo-response"
            ]
        ]
    },
    {
        "id": "debug-echo-response",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Echo Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-stats",
        "type": "inject",
        "z": "service-echo-example",
        "name": "3. Get Service Stats",
        "props": [
            {
                "p": "operation",
                "v": "stats",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "service-stats"
            ]
        ]
    },
    {
        "id": "service-stats",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Get Stats",
        "server": "",
        "mode": "stats",
        "serviceName": "*",
        "debug": true,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "debug-stats"
            ]
        ]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Service Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject-ping",
        "type": "inject",
        "z": "service-echo-example",
        "name": "4. Ping Service",
        "props": [
            {
                "p": "operation",
                "v": "ping",
                "vt": "str"
            },
            {
                "p": "serviceName",
                "v": "echo-service",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "service-ping"
            ]
        ]
    },
    {
        "id": "service-ping",
        "type": "nats-suite-service",
        "z": "service-echo-example",
        "name": "Ping",
        "server": "",
        "mode": "ping",
        "serviceName": "echo-service",
        "debug": true,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "debug-ping"
            ]
        ]
    },
    {
        "id": "debug-ping",
        "type": "debug",
        "z": "service-echo-example",
        "name": "Ping Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "comment-service",
        "type": "comment",
        "z": "service-echo-example",
        "name": "✨ New Feature: Service API ✨",
        "info": "# Service API Test - Echo Service\n\n## Service:\n- Name: echo-service\n- Version: 1.0.0\n- Endpoint: process (echo.process)\n- Auto-Start: TRUE\n\n## Tests:\n1. **Discover:** Finds all services\n2. **Call:** Sends a request and receives an echo\n3. **Stats:** Shows request statistics\n4. **Ping:** Checks service availability\n\n## Expected outputs:\n\n### Discover:\n```json\n[\n  {\n    \"name\": \"echo-service\",\n    \"version\": \"1.0.0\",\n    \"description\": \"Simple Echo Service\"\n  }\n]\n```\n\n### Call response:\n```json\n{\n  \"echo\": \"Hello from client!\",\n  \"timestamp\": 1234567890,\n  \"service\": \"echo-service\",\n  \"version\": \"1.0.0\",\n  \"requestId\": \"req-12345\"\n}\n```\n\n### Stats:\n```json\n[\n  {\n    \"name\": \"echo-service\",\n    \"stats\": {\n      \"requests\": 5,\n      \"errors\": 0\n    }\n  }\n]\n```",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-load-test",
        "type": "inject",
        "z": "service-echo-example",
        "name": "5. Load Test (100 Requests)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "function-load-test"
            ]
        ]
    },
    {
        "id": "function-load-test",
        "type": "function",
        "z": "service-echo-example",
        "name": "Send 100 Requests",
        "func": "for (let i = 0; i < 100; i++) {\n  node.send({\n    payload: {\n      message: `Load test message ${i}`,\n      requestId: `load-test-${i}`\n    }\n  });\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "request-echo-load"
            ]
        ]
    },
    {
        "id": "request-echo-load",
        "type": "nats-suite-request",
        "z": "service-echo-example",
        "name": "Request Echo",
        "server": "",
        "dataformat": "specific_subject",
        "subject": "echo.process",
        "timeout": 5000,
        "handleTimeout": true,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "function-count-responses"
            ]
        ]
    },
    {
        "id": "function-count-responses",
        "type": "function",
        "z": "service-echo-example",
        "name": "Count Responses",
        "func": "// Count successful responses\nlet count = context.get('responseCount') || 0;\ncount++;\ncontext.set('responseCount', count);\n\nif (count % 10 === 0) {\n  node.log(`Received ${count} responses`);\n}\n\nif (count === 100) {\n  node.log('✅ Load test complete: 100/100 responses received');\n  context.set('responseCount', 0);\n}\n\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "05e0df2336c2c1ad",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8bbc3f9c4b6dd6e2"
            ]
        ]
    },
    {
        "id": "8bbc3f9c4b6dd6e2",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Basic",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2369e962f57dfe33",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "2. With Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "2ec8bcc9fbf81eb1"
            ]
        ]
    },
    {
        "id": "2ec8bcc9fbf81eb1",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Headers",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f58b4aa45694ce3c",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "3. With Expiration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "expiration",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.expiration",
        "payload": "This message expires",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4896a36ec345567a"
            ]
        ]
    },
    {
        "id": "4896a36ec345567a",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Expiration",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.expiration",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": true,
        "msgExpiration": 5,
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e322a146c88ba34",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "4. Buffering (Count)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":\"{{$index}}\",\"data\":\"buffered\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8da79a8b54a4c12d"
            ]
        ]
    },
    {
        "id": "8da79a8b54a4c12d",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Count)",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "bufferAutoSaveInterval": 30,
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b5acabb908b688c6",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "5. Buffering (Bytes)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"large\":\"data\"}",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ad2f89503c9a170f"
            ]
        ]
    },
    {
        "id": "ad2f89503c9a170f",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Bytes)",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": true,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 1048576,
        "bufferMode": "drop-newest",
        "bufferPersistence": "file",
        "bufferAutoSaveInterval": 60,
        "dataformat": "json",
        "datapointid": "test.buffer.bytes",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ba608afc20f5fb70",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "6. Batch Processing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batch\":\"item\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "dde499556e599556"
            ]
        ]
    },
    {
        "id": "dde499556e599556",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Batch",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.batch",
        "enableBatch": true,
        "batchSize": 10,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1ea7f80f893a51",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "7. Rate Limiting",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "100",
        "crontab": "",
        "once": false,
        "onceDelay": 0.01,
        "topic": "test.ratelimit",
        "payload": "{\"msg\":\"rate limited\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c1a74946a5d68294"
            ]
        ]
    },
    {
        "id": "c1a74946a5d68294",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Rate Limit",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.ratelimit",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": true,
        "rateLimit": 10,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 5,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "50686c82457fa12b",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "8. String Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.string",
        "payload": "Simple string message",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a586c0af1b31fd15"
            ]
        ]
    },
    {
        "id": "a586c0af1b31fd15",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish String",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.string",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7c6994af4cce8fc9",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "9. Reply Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"response\":\"Reply message\"}",
        "payloadType": "json",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "81837df43f23dcae"
            ]
        ]
    },
    {
        "id": "81837df43f23dcae",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Reply",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "reply",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-request",
        "type": "inject",
        "z": "request-examples",
        "name": "1. Basic Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "service.echo",
        "payload": "{\"message\":\"Hello from request\"}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "request-basic"
            ]
        ]
    },
    {
        "id": "request-basic",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Basic",
        "server": "",
        "dataformat": "uns_command",
        "subject": "service.echo",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "debug-request"
            ]
        ]
    },
    {
        "id": "debug-request",
        "type": "debug",
        "z": "request-examples",
        "name": "Request Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-timeout",
        "type": "inject",
        "z": "request-examples",
        "name": "2. Timeout Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "service.slow",
        "payload": "{\"delay\":10000}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "request-timeout"
            ]
        ]
    },
    {
        "id": "request-timeout",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Timeout",
        "server": "",
        "dataformat": "uns_command",
        "subject": "service.slow",
        "timeout": 2000,
        "handleTimeout": true,
        "debug": true,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "switch-timeout"
            ]
        ]
    },
    {
        "id": "switch-timeout",
        "type": "switch",
        "z": "request-examples",
        "name": "Check Status",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "timeout",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "debug-success"
            ],
            [
                "debug-timeout"
            ]
        ]
    },
    {
        "id": "debug-success",
        "type": "debug",
        "z": "request-examples",
        "name": "Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-timeout",
        "type": "debug",
        "z": "request-examples",
        "name": "Timeout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject-specific",
        "type": "inject",
        "z": "request-examples",
        "name": "3. Specific Subject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"SELECT * FROM users\"}",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "request-specific"
            ]
        ]
    },
    {
        "id": "request-specific",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Specific",
        "server": "",
        "dataformat": "specific_subject",
        "subject": "db.query",
        "timeout": 10000,
        "handleTimeout": true,
        "debug": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "debug-specific"
            ]
        ]
    },
    {
        "id": "debug-specific",
        "type": "debug",
        "z": "request-examples",
        "name": "Specific Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    }
]