examples/flows.json
[
    {
        "id": "730548083f8fd69a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "f299d3b622714522",
        "type": "nats-suite-server",
        "server": "nats://nats-server:4222",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "f299d3b622714522",
        "dataformat": "auto",
        "datapointid": "test.headers",
        "topicfield": "subject",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ Neues Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Erwartet:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug Log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    }
]