flows/nats-suite-kv-get-example.json
[
  {
    "id": "nats-suite-kv-get-example",
    "type": "tab",
    "label": "NATS-SUITE KV Get Examples",
    "disabled": false,
    "info": "Beispiele für NATS-SUITE KV Get Node mit verschiedenen Operationen"
  },
  {
    "id": "nats-suite-server",
    "type": "nats-suite-server",
    "z": "nats-suite-kv-get-example",
    "name": "NATS Server",
    "server": "localhost:4222",
    "timeout": 10000,
    "pingInterval": 30000,
    "maxPingOut": 3,
    "authMethod": "none",
    "enableTLS": false,
    "tlsRejectUnauthorized": true,
    "tlsCaFile": "",
    "tlsCertFile": "",
    "tlsKeyFile": "",
    "x": 200,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject-get-value",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "Get Value",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "sensor.temperature",
    "payloadType": "str",
    "x": 150,
    "y": 200,
    "wires": [
      ["nats-suite-kv-get-value"]
    ]
  },
  {
    "id": "nats-suite-kv-get-value",
    "type": "nats-suite-kv-get",
    "z": "nats-suite-kv-get-example",
    "name": "Get Value",
    "server": "nats-suite-server",
    "operation": "get",
    "bucket": "sensors",
    "key": "sensor.temperature",
    "parseJson": true,
    "ignoreDelete": false,
    "x": 400,
    "y": 200,
    "wires": [
      ["debug-get-value"]
    ]
  },
  {
    "id": "debug-get-value",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "Get Value Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-watch-key",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Key",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "sensor.humidity",
    "payloadType": "str",
    "x": 150,
    "y": 300,
    "wires": [
      ["nats-suite-kv-watch-key"]
    ]
  },
  {
    "id": "nats-suite-kv-watch-key",
    "type": "nats-suite-kv-get",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Key",
    "server": "nats-suite-server",
    "operation": "watch",
    "bucket": "sensors",
    "key": "sensor.humidity",
    "parseJson": true,
    "ignoreDelete": false,
    "x": 400,
    "y": 300,
    "wires": [
      ["debug-watch-key"]
    ]
  },
  {
    "id": "debug-watch-key",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Key Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-watch-multiple",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Multiple Keys",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "sensor.*",
    "payloadType": "str",
    "x": 150,
    "y": 400,
    "wires": [
      ["nats-suite-kv-watch-multiple"]
    ]
  },
  {
    "id": "nats-suite-kv-watch-multiple",
    "type": "nats-suite-kv-get",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Multiple Keys",
    "server": "nats-suite-server",
    "operation": "watch",
    "bucket": "sensors",
    "key": "sensor.*",
    "parseJson": true,
    "ignoreDelete": false,
    "x": 400,
    "y": 400,
    "wires": [
      ["debug-watch-multiple"]
    ]
  },
  {
    "id": "debug-watch-multiple",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "Watch Multiple Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 400,
    "wires": []
  },
  {
    "id": "inject-list-keys",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "List All Keys",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 500,
    "wires": [
      ["nats-suite-kv-list-keys"]
    ]
  },
  {
    "id": "nats-suite-kv-list-keys",
    "type": "nats-suite-kv-get",
    "z": "nats-suite-kv-get-example",
    "name": "List All Keys",
    "server": "nats-suite-server",
    "operation": "list",
    "bucket": "sensors",
    "key": "",
    "parseJson": false,
    "ignoreDelete": false,
    "x": 400,
    "y": 500,
    "wires": [
      ["debug-list-keys"]
    ]
  },
  {
    "id": "debug-list-keys",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "List Keys Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 500,
    "wires": []
  },
  {
    "id": "inject-get-history",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "Get History",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "sensor.pressure",
    "payloadType": "str",
    "x": 150,
    "y": 600,
    "wires": [
      ["nats-suite-kv-get-history"]
    ]
  },
  {
    "id": "nats-suite-kv-get-history",
    "type": "nats-suite-kv-get",
    "z": "nats-suite-kv-get-example",
    "name": "Get History",
    "server": "nats-suite-server",
    "operation": "get",
    "bucket": "sensors",
    "key": "sensor.pressure",
    "parseJson": true,
    "ignoreDelete": false,
    "x": 400,
    "y": 600,
    "wires": [
      ["debug-get-history"]
    ]
  },
  {
    "id": "debug-get-history",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "Get History Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "inject-test-data",
    "type": "inject",
    "z": "nats-suite-kv-get-example",
    "name": "Test Data Generator",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.temperature",
    "payload": "{\"value\":{{$randomInt(20,30)}},\"unit\":\"°C\",\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 700,
    "wires": [
      ["nats-suite-kv-put-test"]
    ]
  },
  {
    "id": "nats-suite-kv-put-test",
    "type": "nats-suite-kv-put",
    "z": "nats-suite-kv-get-example",
    "name": "Test Data Put",
    "server": "nats-suite-server",
    "operation": "put",
    "bucket": "sensors",
    "key": "sensor.temperature",
    "value": "{\"value\":{{$randomInt(20,30)}},\"unit\":\"°C\",\"timestamp\":\"{{$timestamp}}\"}",
    "autoStringify": true,
    "ttl": 0,
    "x": 400,
    "y": 700,
    "wires": [
      ["debug-put-test"]
    ]
  },
  {
    "id": "debug-put-test",
    "type": "debug",
    "z": "nats-suite-kv-get-example",
    "name": "Put Test Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 700,
    "wires": []
  },
  {
    "id": "comment-1",
    "type": "comment",
    "z": "nats-suite-kv-get-example",
    "name": "NATS-SUITE KV Get Beispiele",
    "info": "Verschiedene NATS-SUITE KV Get Szenarien:\n\n1. **Get Value**: Holt einen einzelnen Wert aus dem KV Store\n2. **Watch Key**: Überwacht Änderungen an einem Key\n3. **Watch Multiple Keys**: Überwacht mehrere Keys mit Wildcards\n4. **List All Keys**: Listet alle Keys in einem Bucket auf\n5. **Get History**: Holt die Historie eines Keys\n6. **Test Data Generator**: Erstellt Test-Daten für die anderen Beispiele\n\n**Features:**\n- Get, Watch, List Operationen\n- JSON Parsing\n- Wildcard Support\n- History Tracking\n- Auto-Bucket Creation\n- Error Handling\n- Connection Pooling",
    "x": 200,
    "y": 40,
    "wires": []
  }
]






