flows/nats-suite-subscribe-example.json
[
  {
    "id": "nats-suite-subscribe-example",
    "type": "tab",
    "label": "NATS Subscribe Examples",
    "disabled": false,
    "info": "Beispiele für verschiedene NATS Subscribe Szenarien mit allen Features"
  },
  {
    "id": "nats-suite-server",
    "type": "nats-suite-server",
    "z": "nats-suite-subscribe-example",
    "name": "NATS Server",
    "server": "localhost:4222",
    "timeout": 10000,
    "pingInterval": 30000,
    "maxPingOut": 3,
    "authMethod": "none",
    "enableTLS": false,
    "tlsRejectUnauthorized": true,
    "tlsCaFile": "",
    "tlsCertFile": "",
    "tlsKeyFile": "",
    "x": 200,
    "y": 100,
    "wires": []
  },
  {
    "id": "nats-suite-subscribe-value",
    "type": "nats-suite-subscribe",
    "z": "nats-suite-subscribe-example",
    "name": "NATS-SUITE Value Subscriber",
    "server": "nats-suite-server",
    "dataformat": "uns_value",
    "datapointid": "sensor.temperature",
    "name": "Temperature Sensor",
    "debug": true,
    "x": 400,
    "y": 200,
    "wires": [
      ["debug-nats-suite-value"]
    ]
  },
  {
    "id": "debug-nats-suite-value",
    "type": "debug",
    "z": "nats-suite-subscribe-example",
    "name": "NATS-SUITE Value Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 200,
    "wires": []
  },
  {
    "id": "nats-suite-subscribe-event",
    "type": "nats-suite-subscribe",
    "z": "nats-suite-subscribe-example",
    "name": "NATS-SUITE Event Subscriber",
    "server": "nats-suite-server",
    "dataformat": "uns_event",
    "datapointid": "alarm.high-temperature",
    "name": "High Temperature Alarm",
    "debug": true,
    "x": 400,
    "y": 300,
    "wires": [
      ["debug-nats-suite-event"]
    ]
  },
  {
    "id": "debug-nats-suite-event",
    "type": "debug",
    "z": "nats-suite-subscribe-example",
    "name": "NATS-SUITE Event Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 300,
    "wires": []
  },
  {
    "id": "nats-suite-subscribe-reply",
    "type": "nats-suite-subscribe",
    "z": "nats-suite-subscribe-example",
    "name": "Reply Subscriber",
    "server": "nats-suite-server",
    "dataformat": "reply",
    "datapointid": "service.status",
    "name": "Service Status",
    "debug": true,
    "x": 400,
    "y": 400,
    "wires": [
      ["debug-reply"]
    ]
  },
  {
    "id": "debug-reply",
    "type": "debug",
    "z": "nats-suite-subscribe-example",
    "name": "Reply Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 400,
    "wires": []
  },
  {
    "id": "nats-suite-subscribe-specific",
    "type": "nats-suite-subscribe",
    "z": "nats-suite-subscribe-example",
    "name": "Specific Subject Subscriber",
    "server": "nats-suite-server",
    "dataformat": "specific_subject",
    "datapointid": "custom.sensor.data",
    "name": "Custom Sensor Data",
    "debug": true,
    "x": 400,
    "y": 500,
    "wires": [
      ["debug-specific"]
    ]
  },
  {
    "id": "debug-specific",
    "type": "debug",
    "z": "nats-suite-subscribe-example",
    "name": "Specific Subject Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 500,
    "wires": []
  },
  {
    "id": "nats-suite-subscribe-wildcard",
    "type": "nats-suite-subscribe",
    "z": "nats-suite-subscribe-example",
    "name": "Wildcard Subscriber",
    "server": "nats-suite-server",
    "dataformat": "uns_value",
    "datapointid": "sensor.*",
    "name": "All Sensors",
    "debug": true,
    "x": 400,
    "y": 600,
    "wires": [
      ["debug-wildcard"]
    ]
  },
  {
    "id": "debug-wildcard",
    "type": "debug",
    "z": "nats-suite-subscribe-example",
    "name": "Wildcard Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "inject-test-data",
    "type": "inject",
    "z": "nats-suite-subscribe-example",
    "name": "Test Data Generator",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.temperature",
    "payload": "{\"datatype\":2,\"id\":\"{{$randomUUID}}\",\"name\":\"Temperature Sensor\",\"timestamp\":{{$timestamp}},\"value\":\"{{$randomInt(20,30)}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 200,
    "wires": [
      ["nats-suite-publish-test"]
    ]
  },
  {
    "id": "nats-suite-publish-test",
    "type": "nats-suite-publish",
    "z": "nats-suite-subscribe-example",
    "name": "Test Publisher",
    "server": "nats-suite-server",
    "dataformat": "uns_value",
    "datatypeOverride": "auto",
    "datapointid": "sensor.temperature",
    "name": "Test Temperature",
    "enableBuffer": false,
    "bufferSize": 1000,
    "bufferMode": "drop-oldest",
    "enableBatch": false,
    "batchSize": 100,
    "batchInterval": 1000,
    "batchMode": "hybrid",
    "enableAutoReply": false,
    "replyTimeout": 5000,
    "enableRateLimit": false,
    "rateLimit": 100,
    "rateLimitWindow": 1000,
    "rateLimitBurst": 20,
    "rateLimitAction": "drop",
    "debug": false,
    "x": 300,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-test-event",
    "type": "inject",
    "z": "nats-suite-subscribe-example",
    "name": "Test Event Generator",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "type",
        "vt": "str"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alarm.high-temperature",
    "payload": "{\"severity\":\"high\",\"message\":\"Temperature too high\",\"threshold\":25}",
    "payloadType": "json",
    "type": "point",
    "x": 150,
    "y": 300,
    "wires": [
      ["nats-suite-publish-event-test"]
    ]
  },
  {
    "id": "nats-suite-publish-event-test",
    "type": "nats-suite-publish",
    "z": "nats-suite-subscribe-example",
    "name": "Test Event Publisher",
    "server": "nats-suite-server",
    "dataformat": "event",
    "datapointid": "alarm.high-temperature",
    "name": "Test High Temperature Alarm",
    "enableBuffer": false,
    "bufferSize": 1000,
    "bufferMode": "drop-oldest",
    "enableBatch": false,
    "batchSize": 100,
    "batchInterval": 1000,
    "batchMode": "hybrid",
    "enableAutoReply": false,
    "replyTimeout": 5000,
    "enableRateLimit": false,
    "rateLimit": 100,
    "rateLimitWindow": 1000,
    "rateLimitBurst": 20,
    "rateLimitAction": "drop",
    "debug": false,
    "x": 300,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-test-specific",
    "type": "inject",
    "z": "nats-suite-subscribe-example",
    "name": "Test Specific Topic",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "custom.sensor.data",
    "payload": "{\"sensor\":\"humidity\",\"value\":45.2,\"unit\":\"%\",\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 500,
    "wires": [
      ["nats-suite-publish-specific-test"]
    ]
  },
  {
    "id": "nats-suite-publish-specific-test",
    "type": "nats-suite-publish",
    "z": "nats-suite-subscribe-example",
    "name": "Test Specific Publisher",
    "server": "nats-suite-server",
    "dataformat": "specific_topic",
    "datapointid": "custom.sensor.data",
    "name": "Test Custom Sensor",
    "enableBuffer": false,
    "bufferSize": 1000,
    "bufferMode": "drop-oldest",
    "enableBatch": false,
    "batchSize": 100,
    "batchInterval": 1000,
    "batchMode": "hybrid",
    "enableAutoReply": false,
    "replyTimeout": 5000,
    "enableRateLimit": false,
    "rateLimit": 100,
    "rateLimitWindow": 1000,
    "rateLimitBurst": 20,
    "rateLimitAction": "drop",
    "debug": false,
    "x": 300,
    "y": 500,
    "wires": []
  },
  {
    "id": "comment-1",
    "type": "comment",
    "z": "nats-suite-subscribe-example",
    "name": "NATS Subscribe Beispiele",
    "info": "Verschiedene NATS Subscribe Szenarien:\n\n1. **NATS-SUITE Value**: Abonniert NATS-SUITE Datapoint Werte\n2. **NATS-SUITE Event**: Abonniert NATS-SUITE Events mit UUID und Timestamp\n3. **Reply**: Abonniert Reply Messages\n4. **Specific Subject**: Abonniert Custom NATS Subjects\n5. **Wildcard**: Abonniert mehrere Subjects mit Wildcards\n\n**Features:**\n- Automatische JSON-Parsing für Specific Subjects\n- Debug-Logging für alle Message-Types\n- Wildcard-Support (*, >)\n- Automatische Datatype-Erkennung\n- Connection Pooling",
    "x": 200,
    "y": 40,
    "wires": []
  }
]

