flows/nats-suite-stream-publisher-example.json
[
  {
    "id": "nats-suite-stream-publisher-example",
    "type": "tab",
    "label": "NATS-SUITE Stream Publisher Examples",
    "disabled": false,
    "info": "Beispiele für NATS-SUITE Stream Publisher Node mit verschiedenen Konfigurationen"
  },
  {
    "id": "nats-suite-server",
    "type": "nats-suite-server",
    "z": "nats-suite-stream-publisher-example",
    "name": "NATS Server",
    "server": "localhost:4222",
    "timeout": 10000,
    "pingInterval": 30000,
    "maxPingOut": 3,
    "authMethod": "none",
    "enableTLS": false,
    "tlsRejectUnauthorized": true,
    "tlsCaFile": "",
    "tlsCertFile": "",
    "tlsKeyFile": "",
    "x": 200,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject-simple-message",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "Simple Message",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"message\":\"Hello Stream\",\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 200,
    "wires": [
      ["nats-suite-stream-publisher-simple"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-simple",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "Simple Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "test-stream",
    "subject": "test.message",
    "autoCreateStream": true,
    "retentionPolicy": "limits",
    "maxAge": 0,
    "maxMsgs": 1000,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "file",
    "replicas": 1,
    "duplicateWindow": 0,
    "enableDeduplication": false,
    "enableHeaders": false,
    "debug": true,
    "x": 400,
    "y": 200,
    "wires": [
      ["debug-simple-message"]
    ]
  },
  {
    "id": "debug-simple-message",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Simple Message Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-sensor-data",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "Sensor Data",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"sensor\":\"temperature\",\"value\":{{$randomInt(20,30)}},\"unit\":\"°C\",\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 300,
    "wires": [
      ["nats-suite-stream-publisher-sensor"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-sensor",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "Sensor Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "sensor-stream",
    "subject": "sensor.temperature",
    "autoCreateStream": true,
    "retentionPolicy": "limits",
    "maxAge": 3600,
    "maxMsgs": 10000,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "file",
    "replicas": 1,
    "duplicateWindow": 300,
    "enableDeduplication": true,
    "enableHeaders": false,
    "debug": true,
    "x": 400,
    "y": 300,
    "wires": [
      ["debug-sensor-data"]
    ]
  },
  {
    "id": "debug-sensor-data",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Sensor Data Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-event-data",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "Event Data",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"event\":\"alarm\",\"severity\":\"high\",\"message\":\"Temperature too high\",\"timestamp\":\"{{$timestamp}}\",\"source\":\"sensor.temperature\"}",
    "payloadType": "json",
    "x": 150,
    "y": 400,
    "wires": [
      ["nats-suite-stream-publisher-event"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-event",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "Event Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "event-stream",
    "subject": "event.alarm",
    "autoCreateStream": true,
    "retentionPolicy": "limits",
    "maxAge": 86400,
    "maxMsgs": 100000,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "file",
    "replicas": 1,
    "duplicateWindow": 0,
    "enableDeduplication": false,
    "enableHeaders": true,
    "debug": true,
    "x": 400,
    "y": 400,
    "wires": [
      ["debug-event-data"]
    ]
  },
  {
    "id": "debug-event-data",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Event Data Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 400,
    "wires": []
  },
  {
    "id": "inject-batch-data",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "Batch Data",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"batch_id\":\"{{$randomUUID}}\",\"items\":[{\"id\":1,\"value\":{{$randomInt(1,100)}}},{\"id\":2,\"value\":{{$randomInt(1,100)}}},{\"id\":3,\"value\":{{$randomInt(1,100)}}}],\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 500,
    "wires": [
      ["nats-suite-stream-publisher-batch"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-batch",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "Batch Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "batch-stream",
    "subject": "batch.process",
    "autoCreateStream": true,
    "retentionPolicy": "limits",
    "maxAge": 0,
    "maxMsgs": 1000,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "file",
    "replicas": 1,
    "duplicateWindow": 0,
    "enableDeduplication": false,
    "enableHeaders": false,
    "debug": true,
    "x": 400,
    "y": 500,
    "wires": [
      ["debug-batch-data"]
    ]
  },
  {
    "id": "debug-batch-data",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Batch Data Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 500,
    "wires": []
  },
  {
    "id": "inject-persistent-data",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "Persistent Data",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"id\":\"{{$randomUUID}}\",\"type\":\"configuration\",\"data\":{\"setting1\":\"value1\",\"setting2\":\"value2\"},\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 600,
    "wires": [
      ["nats-suite-stream-publisher-persistent"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-persistent",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "Persistent Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "config-stream",
    "subject": "config.update",
    "autoCreateStream": true,
    "retentionPolicy": "interest",
    "maxAge": 0,
    "maxMsgs": 0,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "file",
    "replicas": 1,
    "duplicateWindow": 0,
    "enableDeduplication": false,
    "enableHeaders": false,
    "debug": true,
    "x": 400,
    "y": 600,
    "wires": [
      ["debug-persistent-data"]
    ]
  },
  {
    "id": "debug-persistent-data",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Persistent Data Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "inject-high-throughput",
    "type": "inject",
    "z": "nats-suite-stream-publisher-example",
    "name": "High Throughput Data",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "0.1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "{\"id\":\"{{$randomUUID}}\",\"value\":{{$randomInt(1,1000)}},\"timestamp\":\"{{$timestamp}}\"}",
    "payloadType": "json",
    "x": 150,
    "y": 700,
    "wires": [
      ["nats-suite-stream-publisher-throughput"]
    ]
  },
  {
    "id": "nats-suite-stream-publisher-throughput",
    "type": "nats-suite-stream-publisher",
    "z": "nats-suite-stream-publisher-example",
    "name": "High Throughput Stream Publisher",
    "server": "nats-suite-server",
    "streamName": "throughput-stream",
    "subject": "data.high-throughput",
    "autoCreateStream": true,
    "retentionPolicy": "limits",
    "maxAge": 300,
    "maxMsgs": 100000,
    "maxBytes": 0,
    "maxMsgSize": 0,
    "storage": "memory",
    "replicas": 1,
    "duplicateWindow": 0,
    "enableDeduplication": false,
    "enableHeaders": false,
    "debug": false,
    "x": 400,
    "y": 700,
    "wires": [
      ["debug-throughput-data"]
    ]
  },
  {
    "id": "debug-throughput-data",
    "type": "debug",
    "z": "nats-suite-stream-publisher-example",
    "name": "Throughput Data Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 700,
    "wires": []
  },
  {
    "id": "comment-1",
    "type": "comment",
    "z": "nats-suite-stream-publisher-example",
    "name": "NATS-SUITE Stream Publisher Beispiele",
    "info": "Verschiedene NATS-SUITE Stream Publisher Szenarien:\n\n1. **Simple Message**: Einfache Nachricht in einen Stream\n2. **Sensor Data**: Sensordaten mit Deduplication\n3. **Event Data**: Event-Nachrichten mit Headers\n4. **Batch Data**: Batch-Verarbeitung von Daten\n5. **Persistent Data**: Dauerhafte Speicherung mit Interest Policy\n6. **High Throughput**: Hohe Nachrichtenrate mit Memory Storage\n\n**Features:**\n- Auto-Stream Creation\n- Retention Policies (Limits, Interest, Work Queue)\n- Deduplication\n- Headers Support\n- Acknowledgment Tracking\n- Stream Management\n- Error Handling\n- Connection Pooling",
    "x": 200,
    "y": 40,
    "wires": []
  }
]






