example-flows/nodes/01-publish-examples.json
[
    {
        "id": "publish-examples",
        "type": "tab",
        "label": "Publish Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-publish node\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers (static + dynamic)\n- Message Expiration (TTL)\n- Buffering (count + bytes, persistence)\n- Batch Processing\n- Rate Limiting\n- Auto-Reply Handler"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none",
        "enableTLS": false
    },
    {
        "id": "inject-basic-json",
        "type": "inject",
        "z": "publish-examples",
        "name": "1. Basic JSON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [["publish-basic"]]
    },
    {
        "id": "publish-basic",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Basic",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBuffer": false,
        "enableBatch": false,
        "enableRateLimit": false,
        "enableHeaders": false,
        "enableMsgExpiration": false,
        "enableAutoReply": false,
        "debug": true,
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-with-headers",
        "type": "inject",
        "z": "publish-examples",
        "name": "2. With Headers",
        "props": [
            {"p": "payload"},
            {"p": "headers", "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}", "vt": "json"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [["publish-headers"]]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Headers",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBuffer": false,
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "enableAutoReply": false,
        "debug": true,
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-with-expiration",
        "type": "inject",
        "z": "publish-examples",
        "name": "3. With Expiration",
        "props": [
            {"p": "payload"},
            {"p": "expiration", "v": "10", "vt": "num"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.expiration",
        "payload": "This message expires",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [["publish-expiration"]]
    },
    {
        "id": "publish-expiration",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Expiration",
        "server": "nats-server-config",
        "dataformat": "string",
        "datapointid": "test.expiration",
        "enableBuffer": false,
        "enableHeaders": false,
        "enableMsgExpiration": true,
        "msgExpiration": 5,
        "enableAutoReply": false,
        "debug": true,
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-buffering",
        "type": "inject",
        "z": "publish-examples",
        "name": "4. Buffering (Count)",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":\"{{$index}}\",\"data\":\"buffered\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [["publish-buffer-count"]]
    },
    {
        "id": "publish-buffer-count",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Buffer (Count)",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "bufferAutoSaveInterval": 30,
        "enableBatch": false,
        "enableRateLimit": false,
        "debug": true,
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-buffering-bytes",
        "type": "inject",
        "z": "publish-examples",
        "name": "5. Buffering (Bytes)",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer.bytes",
        "payload": "{\"large\":\"data\",\"content\":\"x\".repeat(1000)}",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [["publish-buffer-bytes"]]
    },
    {
        "id": "publish-buffer-bytes",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Buffer (Bytes)",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.buffer.bytes",
        "enableBuffer": true,
        "bufferSize": 1000,
        "bufferSizeType": "bytes",
        "bufferSizeBytes": 1048576,
        "bufferMode": "drop-newest",
        "bufferPersistence": "file",
        "bufferAutoSaveInterval": 60,
        "enableBatch": false,
        "debug": true,
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-batch",
        "type": "inject",
        "z": "publish-examples",
        "name": "6. Batch Processing",
        "props": [{"p": "payload"}],
        "repeat": "50",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.batch",
        "payload": "{\"batch\":\"item\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [["publish-batch"]]
    },
    {
        "id": "publish-batch",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Batch",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.batch",
        "enableBuffer": false,
        "enableBatch": true,
        "batchSize": 10,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "enableRateLimit": false,
        "debug": true,
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject-rate-limit",
        "type": "inject",
        "z": "publish-examples",
        "name": "7. Rate Limiting",
        "props": [{"p": "payload"}],
        "repeat": "100",
        "crontab": "",
        "once": false,
        "onceDelay": 0.01,
        "topic": "test.ratelimit",
        "payload": "{\"msg\":\"rate limited\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [["publish-rate-limit"]]
    },
    {
        "id": "publish-rate-limit",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Rate Limit",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.ratelimit",
        "enableBuffer": false,
        "enableBatch": false,
        "enableRateLimit": true,
        "rateLimit": 10,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 5,
        "rateLimitAction": "drop",
        "debug": true,
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "inject-string",
        "type": "inject",
        "z": "publish-examples",
        "name": "8. String Format",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.string",
        "payload": "Simple string message",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [["publish-string"]]
    },
    {
        "id": "publish-string",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish String",
        "server": "nats-server-config",
        "dataformat": "string",
        "datapointid": "test.string",
        "enableBuffer": false,
        "debug": false,
        "x": 360,
        "y": 480,
        "wires": []
    },
    {
        "id": "inject-reply",
        "type": "inject",
        "z": "publish-examples",
        "name": "9. Reply Format",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"response\":\"Reply message\"}",
        "payloadType": "json",
        "x": 140,
        "y": 540,
        "wires": [["publish-reply"]]
    },
    {
        "id": "publish-reply",
        "type": "nats-suite-publish",
        "z": "publish-examples",
        "name": "Publish Reply",
        "server": "nats-server-config",
        "dataformat": "reply",
        "datapointid": "",
        "enableBuffer": false,
        "debug": false,
        "x": 350,
        "y": 540,
        "wires": []
    }
]

