example-flows/nodes/02-subscribe-examples.json
[
    {
        "id": "subscribe-examples",
        "type": "tab",
        "label": "Subscribe Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-subscribe node\n\nFeatures demonstrated:\n- Auto parsing (JSON/String/Buffer)\n- Manual parsing modes\n- Topic field options\n- Wildcard subjects\n- Queue groups"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "subscribe-auto",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe Auto Parse",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "test.auto",
        "topicfield": "subject",
        "debug": true,
        "x": 200,
        "y": 60,
        "wires": [["debug-auto"]]
    },
    {
        "id": "debug-auto",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "Auto Parse Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "subscribe-json",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe JSON",
        "server": "nats-server-config",
        "dataformat": "json",
        "datapointid": "test.json",
        "topicfield": "subject",
        "debug": true,
        "x": 190,
        "y": 120,
        "wires": [["debug-json"]]
    },
    {
        "id": "debug-json",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "JSON Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "subscribe-string",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe String",
        "server": "nats-server-config",
        "dataformat": "string",
        "datapointid": "test.string",
        "topicfield": "subject",
        "debug": false,
        "x": 200,
        "y": 180,
        "wires": [["debug-string"]]
    },
    {
        "id": "debug-string",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "String Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "subscribe-buffer",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe Buffer",
        "server": "nats-server-config",
        "dataformat": "buffer",
        "datapointid": "test.buffer",
        "topicfield": "subject",
        "debug": false,
        "x": 200,
        "y": 240,
        "wires": [["debug-buffer"]]
    },
    {
        "id": "debug-buffer",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "Buffer Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "subscribe-wildcard",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe Wildcard",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "test.>",
        "topicfield": "subject",
        "debug": true,
        "x": 210,
        "y": 300,
        "wires": [["debug-wildcard"]]
    },
    {
        "id": "debug-wildcard",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "Wildcard Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "subscribe-queue",
        "type": "nats-suite-subscribe",
        "z": "subscribe-examples",
        "name": "Subscribe Queue Group",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "test.queue",
        "topicfield": "subject",
        "queue": "worker-group",
        "debug": true,
        "x": 230,
        "y": 360,
        "wires": [["debug-queue"]]
    },
    {
        "id": "debug-queue",
        "type": "debug",
        "z": "subscribe-examples",
        "name": "Queue Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 360,
        "wires": []
    }
]

