example-flows/nodes/03-request-examples.json
[
    {
        "id": "request-examples",
        "type": "tab",
        "label": "Request Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-request node\n\nFeatures demonstrated:\n- Basic request/reply\n- Timeout handling\n- Different data formats\n- Error handling"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "inject-request",
        "type": "inject",
        "z": "request-examples",
        "name": "1. Basic Request",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "service.echo",
        "payload": "{\"message\":\"Hello from request\"}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [["request-basic"]]
    },
    {
        "id": "request-basic",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Basic",
        "server": "nats-server-config",
        "dataformat": "uns_command",
        "subject": "service.echo",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 360,
        "y": 60,
        "wires": [["debug-request"]]
    },
    {
        "id": "debug-request",
        "type": "debug",
        "z": "request-examples",
        "name": "Request Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-timeout",
        "type": "inject",
        "z": "request-examples",
        "name": "2. Timeout Test",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "service.slow",
        "payload": "{\"delay\":10000}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [["request-timeout"]]
    },
    {
        "id": "request-timeout",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Timeout",
        "server": "nats-server-config",
        "dataformat": "uns_command",
        "subject": "service.slow",
        "timeout": 2000,
        "handleTimeout": true,
        "debug": true,
        "x": 370,
        "y": 120,
        "wires": [["switch-timeout"]]
    },
    {
        "id": "switch-timeout",
        "type": "switch",
        "z": "request-examples",
        "name": "Check Status",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "success", "vt": "str"},
            {"t": "eq", "v": "timeout", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 120,
        "wires": [["debug-success"], ["debug-timeout"]]
    },
    {
        "id": "debug-success",
        "type": "debug",
        "z": "request-examples",
        "name": "Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-timeout",
        "type": "debug",
        "z": "request-examples",
        "name": "Timeout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject-specific",
        "type": "inject",
        "z": "request-examples",
        "name": "3. Specific Subject",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"SELECT * FROM users\"}",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [["request-specific"]]
    },
    {
        "id": "request-specific",
        "type": "nats-suite-request",
        "z": "request-examples",
        "name": "Request Specific",
        "server": "nats-server-config",
        "dataformat": "specific_subject",
        "subject": "db.query",
        "timeout": 10000,
        "handleTimeout": true,
        "debug": false,
        "x": 390,
        "y": 180,
        "wires": [["debug-specific"]]
    },
    {
        "id": "debug-specific",
        "type": "debug",
        "z": "request-examples",
        "name": "Specific Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    }
]

