example-flows/nodes/04-reply-examples.json
[
    {
        "id": "reply-examples",
        "type": "tab",
        "label": "Reply Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-reply node\n\nFeatures demonstrated:\n- Basic reply\n- Error responses\n- Different response types"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "subscribe-echo",
        "type": "nats-suite-subscribe",
        "z": "reply-examples",
        "name": "Subscribe Echo",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "service.echo",
        "topicfield": "subject",
        "debug": false,
        "x": 200,
        "y": 60,
        "wires": [["function-echo"]]
    },
    {
        "id": "function-echo",
        "type": "function",
        "z": "reply-examples",
        "name": "Echo Handler",
        "func": "// Simple echo service\nmsg.payload = {\n    echo: msg.payload,\n    timestamp: Date.now(),\n    service: \"echo-service\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [["reply-echo"]]
    },
    {
        "id": "reply-echo",
        "type": "nats-suite-reply",
        "z": "reply-examples",
        "name": "Reply Echo",
        "server": "nats-server-config",
        "debug": false,
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "subscribe-calc",
        "type": "nats-suite-subscribe",
        "z": "reply-examples",
        "name": "Subscribe Calc",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "service.calc",
        "topicfield": "subject",
        "debug": false,
        "x": 200,
        "y": 120,
        "wires": [["function-calc"]]
    },
    {
        "id": "function-calc",
        "type": "function",
        "z": "reply-examples",
        "name": "Calculator",
        "func": "// Calculator service\nconst { operation, a, b } = msg.payload;\n\nif (!operation || typeof a !== 'number' || typeof b !== 'number') {\n    msg.payload = { error: 'Invalid input' };\n    msg.status = 'error';\n    return msg;\n}\n\nlet result;\nswitch(operation) {\n    case 'add': result = a + b; break;\n    case 'sub': result = a - b; break;\n    case 'mul': result = a * b; break;\n    case 'div': result = b !== 0 ? a / b : null; break;\n    default: result = null;\n}\n\nif (result === null) {\n    msg.payload = { error: 'Invalid operation or division by zero' };\n    msg.status = 'error';\n} else {\n    msg.payload = { result, operation, a, b };\n    msg.status = 'success';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [["reply-calc"]]
    },
    {
        "id": "reply-calc",
        "type": "nats-suite-reply",
        "z": "reply-examples",
        "name": "Reply Calc",
        "server": "nats-server-config",
        "debug": true,
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "subscribe-error",
        "type": "nats-suite-subscribe",
        "z": "reply-examples",
        "name": "Subscribe Error",
        "server": "nats-server-config",
        "dataformat": "auto",
        "datapointid": "service.error",
        "topicfield": "subject",
        "debug": false,
        "x": 210,
        "y": 180,
        "wires": [["function-error"]]
    },
    {
        "id": "function-error",
        "type": "function",
        "z": "reply-examples",
        "name": "Error Handler",
        "func": "// Always return error for testing\nmsg.payload = { error: 'Service unavailable', code: 'SERVICE_ERROR' };\nmsg.status = 'error';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [["reply-error"]]
    },
    {
        "id": "reply-error",
        "type": "nats-suite-reply",
        "z": "reply-examples",
        "name": "Reply Error",
        "server": "nats-server-config",
        "debug": true,
        "x": 610,
        "y": 180,
        "wires": []
    }
]

