example-flows/nodes/05-health-stats-examples.json
[
    {
        "id": "health-stats-examples",
        "type": "tab",
        "label": "Health & Stats Nodes",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-health and nats-suite-stats nodes\n\nFeatures demonstrated:\n- Health monitoring\n- Server stats\n- JetStream stats\n- Connection stats"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "inject-health",
        "type": "inject",
        "z": "health-stats-examples",
        "name": "1. Health Check",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [["health-node"]]
    },
    {
        "id": "health-node",
        "type": "nats-suite-health",
        "z": "health-stats-examples",
        "name": "Health Monitor",
        "server": "nats-server-config",
        "x": 360,
        "y": 60,
        "wires": [["debug-health"]]
    },
    {
        "id": "debug-health",
        "type": "debug",
        "z": "health-stats-examples",
        "name": "Health Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-stats-server",
        "type": "inject",
        "z": "health-stats-examples",
        "name": "2. Server Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [["stats-server"]]
    },
    {
        "id": "stats-server",
        "type": "nats-suite-stats",
        "z": "health-stats-examples",
        "name": "Server Stats",
        "server": "nats-server-config",
        "statsType": "server",
        "x": 370,
        "y": 120,
        "wires": [["debug-server-stats"]]
    },
    {
        "id": "debug-server-stats",
        "type": "debug",
        "z": "health-stats-examples",
        "name": "Server Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-stats-jetstream",
        "type": "inject",
        "z": "health-stats-examples",
        "name": "3. JetStream Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [["stats-jetstream"]]
    },
    {
        "id": "stats-jetstream",
        "type": "nats-suite-stats",
        "z": "health-stats-examples",
        "name": "JetStream Stats",
        "server": "nats-server-config",
        "statsType": "jetstream",
        "x": 400,
        "y": 180,
        "wires": [["debug-jetstream-stats"]]
    },
    {
        "id": "debug-jetstream-stats",
        "type": "debug",
        "z": "health-stats-examples",
        "name": "JetStream Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-stats-connections",
        "type": "inject",
        "z": "health-stats-examples",
        "name": "4. Connection Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [["stats-connections"]]
    },
    {
        "id": "stats-connections",
        "type": "nats-suite-stats",
        "z": "health-stats-examples",
        "name": "Connection Stats",
        "server": "nats-server-config",
        "statsType": "connections",
        "x": 420,
        "y": 240,
        "wires": [["debug-connection-stats"]]
    },
    {
        "id": "debug-connection-stats",
        "type": "debug",
        "z": "health-stats-examples",
        "name": "Connection Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-stats-all",
        "type": "inject",
        "z": "health-stats-examples",
        "name": "5. All Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["stats-all"]]
    },
    {
        "id": "stats-all",
        "type": "nats-suite-stats",
        "z": "health-stats-examples",
        "name": "All Stats",
        "server": "nats-server-config",
        "statsType": "all",
        "x": 350,
        "y": 300,
        "wires": [["debug-all-stats"]]
    },
    {
        "id": "debug-all-stats",
        "type": "debug",
        "z": "health-stats-examples",
        "name": "All Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    }
]

