example-flows/nodes/06-kv-examples.json
[
    {
        "id": "kv-examples",
        "type": "tab",
        "label": "KV Store Nodes - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-kv-get and nats-suite-kv-put nodes\n\nFeatures demonstrated:\n- Get/Put operations\n- Delete/Purge keys\n- List all keys\n- Watch keys\n- Bucket management\n- History support"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "inject-kv-put",
        "type": "inject",
        "z": "kv-examples",
        "name": "1. Put Key",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\":5000,\"unit\":\"ms\"}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [["function-put-key"]]
    },
    {
        "id": "function-put-key",
        "type": "function",
        "z": "kv-examples",
        "name": "Set Key",
        "func": "msg.key = \"app.config.timeout\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [["kv-put-basic"]]
    },
    {
        "id": "kv-put-basic",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Put",
        "server": "nats-server-config",
        "bucket": "config-store",
        "operation": "put",
        "keyFrom": "msg",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 550,
        "y": 60,
        "wires": [["debug-put"]]
    },
    {
        "id": "debug-put",
        "type": "debug",
        "z": "kv-examples",
        "name": "Put Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-kv-get",
        "type": "inject",
        "z": "kv-examples",
        "name": "2. Get Key",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [["function-get-key"]]
    },
    {
        "id": "function-get-key",
        "type": "function",
        "z": "kv-examples",
        "name": "Set Key",
        "func": "msg.key = \"app.config.timeout\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [["kv-get-basic"]]
    },
    {
        "id": "kv-get-basic",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "KV Get",
        "server": "nats-server-config",
        "bucket": "config-store",
        "mode": "get",
        "keyFrom": "msg",
        "parseJSON": true,
        "debug": true,
        "x": 550,
        "y": 120,
        "wires": [["debug-get"]]
    },
    {
        "id": "debug-get",
        "type": "debug",
        "z": "kv-examples",
        "name": "Get Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-kv-delete",
        "type": "inject",
        "z": "kv-examples",
        "name": "3. Delete Key",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [["function-delete-key"]]
    },
    {
        "id": "function-delete-key",
        "type": "function",
        "z": "kv-examples",
        "name": "Set Key",
        "func": "msg.key = \"app.config.timeout\";\nmsg.operation = \"delete\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [["kv-put-delete"]]
    },
    {
        "id": "kv-put-delete",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Delete",
        "server": "nats-server-config",
        "bucket": "config-store",
        "operation": "delete",
        "keyFrom": "msg",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 580,
        "y": 180,
        "wires": [["debug-delete"]]
    },
    {
        "id": "debug-delete",
        "type": "debug",
        "z": "kv-examples",
        "name": "Delete Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-kv-purge",
        "type": "inject",
        "z": "kv-examples",
        "name": "4. Purge Key",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [["function-purge-key"]]
    },
    {
        "id": "function-purge-key",
        "type": "function",
        "z": "kv-examples",
        "name": "Set Key",
        "func": "msg.key = \"app.config.timeout\";\nmsg.operation = \"purge\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [["kv-put-purge"]]
    },
    {
        "id": "kv-put-purge",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Purge",
        "server": "nats-server-config",
        "bucket": "config-store",
        "operation": "purge",
        "keyFrom": "msg",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 580,
        "y": 240,
        "wires": [["debug-purge"]]
    },
    {
        "id": "debug-purge",
        "type": "debug",
        "z": "kv-examples",
        "name": "Purge Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-kv-list",
        "type": "inject",
        "z": "kv-examples",
        "name": "5. List Keys",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["kv-get-list"]]
    },
    {
        "id": "kv-get-list",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "KV List Keys",
        "server": "nats-server-config",
        "bucket": "config-store",
        "mode": "keys",
        "keyFrom": "config",
        "parseJSON": true,
        "debug": true,
        "x": 370,
        "y": 300,
        "wires": [["debug-list"]]
    },
    {
        "id": "debug-list",
        "type": "debug",
        "z": "kv-examples",
        "name": "List Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "kv-get-watch",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "6. Watch Keys",
        "server": "nats-server-config",
        "bucket": "config-store",
        "mode": "watch",
        "watchPattern": "app.config.*",
        "ignoreDeletes": false,
        "includeHistory": false,
        "parseJSON": true,
        "debug": true,
        "x": 200,
        "y": 360,
        "wires": [["debug-watch"]]
    },
    {
        "id": "debug-watch",
        "type": "debug",
        "z": "kv-examples",
        "name": "Watch Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject-bucket-create",
        "type": "inject",
        "z": "kv-examples",
        "name": "7. Create Bucket",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [["function-bucket-op"]]
    },
    {
        "id": "function-bucket-op",
        "type": "function",
        "z": "kv-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"bucket-create\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [["kv-put-bucket"]]
    },
    {
        "id": "kv-put-bucket",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Bucket Mgmt",
        "server": "nats-server-config",
        "bucket": "new-bucket",
        "operation": "put",
        "keyFrom": "config",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 600,
        "y": 420,
        "wires": [["debug-bucket"]]
    },
    {
        "id": "debug-bucket",
        "type": "debug",
        "z": "kv-examples",
        "name": "Bucket Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    }
]

