example-flows/nodes/07-stream-examples.json
[
    {
        "id": "stream-examples",
        "type": "tab",
        "label": "Stream Nodes - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-stream-publisher and nats-suite-stream-consumer nodes\n\nFeatures demonstrated:\n- Stream creation/update\n- Subject updates\n- Message publishing\n- Consumer creation\n- Message consumption\n- Pause/Resume\n- Monitoring"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "inject-create-stream",
        "type": "inject",
        "z": "stream-examples",
        "name": "1. Create Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [["function-stream-op"]]
    },
    {
        "id": "function-stream-op",
        "type": "function",
        "z": "stream-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"create\";\nmsg.stream = \"test-stream\";\nmsg.subjects = \"test.>, sensor.>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [["stream-pub-create"]]
    },
    {
        "id": "stream-pub-create",
        "type": "nats-suite-stream-publisher",
        "z": "stream-examples",
        "name": "Stream Publisher",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "subjectPattern": "test.>",
        "defaultSubject": "test.data",
        "operation": "create",
        "retention": "limits",
        "maxMessages": 1000,
        "maxAge": "1h",
        "storage": "file",
        "debug": true,
        "x": 600,
        "y": 60,
        "wires": [["debug-create"]]
    },
    {
        "id": "debug-create",
        "type": "debug",
        "z": "stream-examples",
        "name": "Create Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-update-subjects",
        "type": "inject",
        "z": "stream-examples",
        "name": "2. Update Subjects",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [["function-update-subjects"]]
    },
    {
        "id": "function-update-subjects",
        "type": "function",
        "z": "stream-examples",
        "name": "Set Subjects",
        "func": "msg.operation = \"update-subjects\";\nmsg.stream = \"test-stream\";\nmsg.subjects = \"test.>, sensor.>, data.>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [["stream-pub-update"]]
    },
    {
        "id": "stream-pub-update",
        "type": "nats-suite-stream-publisher",
        "z": "stream-examples",
        "name": "Stream Publisher",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "subjectPattern": "test.>",
        "defaultSubject": "test.data",
        "operation": "update-subjects",
        "retention": "limits",
        "maxMessages": 1000,
        "maxAge": "1h",
        "storage": "file",
        "debug": true,
        "x": 630,
        "y": 120,
        "wires": [["debug-update"]]
    },
    {
        "id": "debug-update",
        "type": "debug",
        "z": "stream-examples",
        "name": "Update Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-publish",
        "type": "inject",
        "z": "stream-examples",
        "name": "3. Publish Messages",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.data",
        "payload": "{\"temperature\":23.5,\"humidity\":45,\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 180,
        "y": 180,
        "wires": [["stream-pub-publish"]]
    },
    {
        "id": "stream-pub-publish",
        "type": "nats-suite-stream-publisher",
        "z": "stream-examples",
        "name": "Stream Publisher",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "subjectPattern": "test.>",
        "defaultSubject": "test.data",
        "operation": "publish",
        "retention": "limits",
        "maxMessages": 1000,
        "maxAge": "1h",
        "storage": "file",
        "debug": true,
        "x": 620,
        "y": 180,
        "wires": [["debug-publish"]]
    },
    {
        "id": "debug-publish",
        "type": "debug",
        "z": "stream-examples",
        "name": "Publish Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-create-consumer",
        "type": "inject",
        "z": "stream-examples",
        "name": "4. Create Consumer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [["function-consumer-op"]]
    },
    {
        "id": "function-consumer-op",
        "type": "function",
        "z": "stream-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"create\";\nmsg.consumer = \"test-consumer\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [["stream-cons-create"]]
    },
    {
        "id": "stream-cons-create",
        "type": "nats-suite-stream-consumer",
        "z": "stream-examples",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "operation": "create",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 640,
        "y": 240,
        "wires": [["debug-consumer"]]
    },
    {
        "id": "debug-consumer",
        "type": "debug",
        "z": "stream-examples",
        "name": "Consumer Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-consume",
        "type": "inject",
        "z": "stream-examples",
        "name": "5. Consume Messages",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batchSize\":5}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [["stream-cons-consume"]]
    },
    {
        "id": "stream-cons-consume",
        "type": "nats-suite-stream-consumer",
        "z": "stream-examples",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "operation": "consume",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 620,
        "y": 300,
        "wires": [["function-ack"]]
    },
    {
        "id": "function-ack",
        "type": "function",
        "z": "stream-examples",
        "name": "ACK Messages",
        "func": "if (msg.ack) {\n    msg.ack();\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 300,
        "wires": [["debug-consume"]]
    },
    {
        "id": "debug-consume",
        "type": "debug",
        "z": "stream-examples",
        "name": "Consume Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-pause",
        "type": "inject",
        "z": "stream-examples",
        "name": "6. Pause Consumer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"pause\"}",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [["stream-cons-pause"]]
    },
    {
        "id": "stream-cons-pause",
        "type": "nats-suite-stream-consumer",
        "z": "stream-examples",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "operation": "pause",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 620,
        "y": 360,
        "wires": [["debug-pause"]]
    },
    {
        "id": "debug-pause",
        "type": "debug",
        "z": "stream-examples",
        "name": "Pause Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject-resume",
        "type": "inject",
        "z": "stream-examples",
        "name": "7. Resume Consumer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"resume\"}",
        "payloadType": "json",
        "x": 180,
        "y": 420,
        "wires": [["stream-cons-resume"]]
    },
    {
        "id": "stream-cons-resume",
        "type": "nats-suite-stream-consumer",
        "z": "stream-examples",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "operation": "resume",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 630,
        "y": 420,
        "wires": [["debug-resume"]]
    },
    {
        "id": "debug-resume",
        "type": "debug",
        "z": "stream-examples",
        "name": "Resume Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "inject-monitor",
        "type": "inject",
        "z": "stream-examples",
        "name": "8. Monitor Consumer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"monitor\"}",
        "payloadType": "json",
        "x": 190,
        "y": 480,
        "wires": [["stream-cons-monitor"]]
    },
    {
        "id": "stream-cons-monitor",
        "type": "nats-suite-stream-consumer",
        "z": "stream-examples",
        "name": "Stream Consumer",
        "server": "nats-server-config",
        "streamName": "test-stream",
        "consumerName": "test-consumer",
        "operation": "monitor",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 640,
        "y": 480,
        "wires": [["debug-monitor"]]
    },
    {
        "id": "debug-monitor",
        "type": "debug",
        "z": "stream-examples",
        "name": "Monitor Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 480,
        "wires": []
    }
]

