example-flows/nodes/08-object-examples.json
[
    {
        "id": "object-examples",
        "type": "tab",
        "label": "Object Store Nodes - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-object-put and nats-suite-object-get nodes\n\nFeatures demonstrated:\n- Object upload\n- Object download\n- Object listing\n- Object deletion\n- Bucket management"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "inject-put-object",
        "type": "inject",
        "z": "object-examples",
        "name": "1. Put Object",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"app\":\"MyApp\",\"version\":\"1.0.0\",\"settings\":{\"theme\":\"dark\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [["function-set-name"]]
    },
    {
        "id": "function-set-name",
        "type": "function",
        "z": "object-examples",
        "name": "Set Object Name",
        "func": "msg.objectName = \"config.json\";\nmsg.name = \"config.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [["object-put-basic"]]
    },
    {
        "id": "object-put-basic",
        "type": "nats-suite-object-put",
        "z": "object-examples",
        "name": "Object Put",
        "server": "nats-server-config",
        "bucket": "files",
        "operation": "put",
        "nameFrom": "msg",
        "dataFrom": "payload",
        "debug": true,
        "x": 600,
        "y": 60,
        "wires": [["debug-put"]]
    },
    {
        "id": "debug-put",
        "type": "debug",
        "z": "object-examples",
        "name": "Put Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-get-object",
        "type": "inject",
        "z": "object-examples",
        "name": "2. Get Object",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [["function-get-name"]]
    },
    {
        "id": "function-get-name",
        "type": "function",
        "z": "object-examples",
        "name": "Set Object Name",
        "func": "msg.objectName = \"config.json\";\nmsg.name = \"config.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [["object-get-basic"]]
    },
    {
        "id": "object-get-basic",
        "type": "nats-suite-object-get",
        "z": "object-examples",
        "name": "Object Get",
        "server": "nats-server-config",
        "bucket": "files",
        "operation": "get",
        "nameFrom": "msg",
        "outputFormat": "json",
        "debug": true,
        "x": 600,
        "y": 120,
        "wires": [["debug-get"]]
    },
    {
        "id": "debug-get",
        "type": "debug",
        "z": "object-examples",
        "name": "Get Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-list-objects",
        "type": "inject",
        "z": "object-examples",
        "name": "3. List Objects",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [["function-list-op"]]
    },
    {
        "id": "function-list-op",
        "type": "function",
        "z": "object-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"list\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [["object-get-list"]]
    },
    {
        "id": "object-get-list",
        "type": "nats-suite-object-get",
        "z": "object-examples",
        "name": "Object List",
        "server": "nats-server-config",
        "bucket": "files",
        "operation": "list",
        "nameFrom": "config",
        "outputFormat": "json",
        "debug": true,
        "x": 610,
        "y": 180,
        "wires": [["debug-list"]]
    },
    {
        "id": "debug-list",
        "type": "debug",
        "z": "object-examples",
        "name": "List Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-delete-object",
        "type": "inject",
        "z": "object-examples",
        "name": "4. Delete Object",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [["function-delete-op"]]
    },
    {
        "id": "function-delete-op",
        "type": "function",
        "z": "object-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"delete\";\nmsg.objectName = \"config.json\";\nmsg.name = \"config.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [["object-put-delete"]]
    },
    {
        "id": "object-put-delete",
        "type": "nats-suite-object-put",
        "z": "object-examples",
        "name": "Object Delete",
        "server": "nats-server-config",
        "bucket": "files",
        "operation": "delete",
        "nameFrom": "msg",
        "dataFrom": "payload",
        "debug": true,
        "x": 620,
        "y": 240,
        "wires": [["debug-delete"]]
    },
    {
        "id": "debug-delete",
        "type": "debug",
        "z": "object-examples",
        "name": "Delete Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-bucket-create",
        "type": "inject",
        "z": "object-examples",
        "name": "5. Create Bucket",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [["function-bucket-op"]]
    },
    {
        "id": "function-bucket-op",
        "type": "function",
        "z": "object-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"bucket-create\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [["object-put-bucket"]]
    },
    {
        "id": "object-put-bucket",
        "type": "nats-suite-object-put",
        "z": "object-examples",
        "name": "Bucket Create",
        "server": "nats-server-config",
        "bucket": "new-bucket",
        "operation": "bucket-create",
        "nameFrom": "config",
        "dataFrom": "payload",
        "debug": true,
        "x": 630,
        "y": 300,
        "wires": [["debug-bucket"]]
    },
    {
        "id": "debug-bucket",
        "type": "debug",
        "z": "object-examples",
        "name": "Bucket Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 300,
        "wires": []
    }
]

