example-flows/nodes/09-service-examples.json
[
    {
        "id": "service-examples",
        "type": "tab",
        "label": "Service Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-service node\n\nFeatures demonstrated:\n- Service Discovery\n- Service Stats\n- Service Ping\n- Service Endpoints (Echo, Calculator)"
    },
    {
        "id": "nats-server-config",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "service-echo",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Echo Service",
        "server": "nats-server-config",
        "mode": "service",
        "serviceName": "echo-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "Simple Echo Service",
        "endpoint": "process",
        "endpointSubject": "echo.process",
        "queueGroup": "echo-service",
        "autoStart": true,
        "debug": true,
        "x": 200,
        "y": 60,
        "wires": [["function-echo-handler"]]
    },
    {
        "id": "function-echo-handler",
        "type": "function",
        "z": "service-examples",
        "name": "Echo Handler",
        "func": "const request = msg.payload;\n\nif (!request || !request.message) {\n    msg.respondError('Missing message field', 'VALIDATION_ERROR');\n    return null;\n}\n\nconst response = {\n    echo: request.message,\n    timestamp: Date.now(),\n    service: 'echo-service',\n    version: '1.0.0'\n};\n\nmsg.respond(response);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-discover",
        "type": "inject",
        "z": "service-examples",
        "name": "1. Discover Services",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"discover\"}",
        "payloadType": "json",
        "x": 180,
        "y": 120,
        "wires": [["service-discover"]]
    },
    {
        "id": "service-discover",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Discovery",
        "server": "nats-server-config",
        "mode": "discover",
        "serviceName": "*",
        "serviceVersion": "",
        "serviceDescription": "",
        "endpoint": "",
        "endpointSubject": "",
        "queueGroup": "",
        "autoStart": false,
        "debug": true,
        "x": 400,
        "y": 120,
        "wires": [["debug-discover"]]
    },
    {
        "id": "debug-discover",
        "type": "debug",
        "z": "service-examples",
        "name": "Discovery Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-stats",
        "type": "inject",
        "z": "service-examples",
        "name": "2. Service Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"stats\"}",
        "payloadType": "json",
        "x": 160,
        "y": 180,
        "wires": [["service-stats"]]
    },
    {
        "id": "service-stats",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Stats",
        "server": "nats-server-config",
        "mode": "stats",
        "serviceName": "*",
        "serviceVersion": "",
        "serviceDescription": "",
        "endpoint": "",
        "endpointSubject": "",
        "queueGroup": "",
        "autoStart": false,
        "debug": true,
        "x": 380,
        "y": 180,
        "wires": [["debug-stats"]]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "service-examples",
        "name": "Stats Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-ping",
        "type": "inject",
        "z": "service-examples",
        "name": "3. Ping Service",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"ping\",\"serviceName\":\"echo-service\"}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [["service-ping"]]
    },
    {
        "id": "service-ping",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Ping",
        "server": "nats-server-config",
        "mode": "ping",
        "serviceName": "echo-service",
        "serviceVersion": "",
        "serviceDescription": "",
        "endpoint": "",
        "endpointSubject": "",
        "queueGroup": "",
        "autoStart": false,
        "debug": true,
        "x": 370,
        "y": 240,
        "wires": [["debug-ping"]]
    },
    {
        "id": "debug-ping",
        "type": "debug",
        "z": "service-examples",
        "name": "Ping Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-call-echo",
        "type": "inject",
        "z": "service-examples",
        "name": "4. Call Echo Service",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "echo.process",
        "payload": "{\"message\":\"Hello from client!\"}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [["request-echo"]]
    },
    {
        "id": "request-echo",
        "type": "nats-suite-request",
        "z": "service-examples",
        "name": "Request Echo",
        "server": "nats-server-config",
        "dataformat": "uns_command",
        "subject": "echo.process",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 400,
        "y": 300,
        "wires": [["debug-echo-response"]]
    },
    {
        "id": "debug-echo-response",
        "type": "debug",
        "z": "service-examples",
        "name": "Echo Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "service-calc",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Calculator Service",
        "server": "nats-server-config",
        "mode": "service",
        "serviceName": "calculator",
        "serviceVersion": "1.0.0",
        "serviceDescription": "Calculator Service",
        "endpoint": "calculate",
        "endpointSubject": "calc.calculate",
        "queueGroup": "calculator",
        "autoStart": true,
        "debug": true,
        "x": 220,
        "y": 360,
        "wires": [["function-calc-handler"]]
    },
    {
        "id": "function-calc-handler",
        "type": "function",
        "z": "service-examples",
        "name": "Calc Handler",
        "func": "const { operation, a, b } = msg.payload;\n\nif (!operation || typeof a !== 'number' || typeof b !== 'number') {\n    msg.respondError('Invalid input', 'VALIDATION_ERROR');\n    return null;\n}\n\nlet result;\nswitch(operation) {\n    case 'add': result = a + b; break;\n    case 'sub': result = a - b; break;\n    case 'mul': result = a * b; break;\n    case 'div': result = b !== 0 ? a / b : null; break;\n    default: result = null;\n}\n\nif (result === null) {\n    msg.respondError('Invalid operation or division by zero', 'CALC_ERROR');\n} else {\n    msg.respond({ result, operation, a, b });\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject-call-calc",
        "type": "inject",
        "z": "service-examples",
        "name": "5. Call Calculator",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "calc.calculate",
        "payload": "{\"operation\":\"add\",\"a\":10,\"b\":5}",
        "payloadType": "json",
        "x": 190,
        "y": 420,
        "wires": [["request-calc"]]
    },
    {
        "id": "request-calc",
        "type": "nats-suite-request",
        "z": "service-examples",
        "name": "Request Calc",
        "server": "nats-server-config",
        "dataformat": "uns_command",
        "subject": "calc.calculate",
        "timeout": 5000,
        "handleTimeout": true,
        "debug": true,
        "x": 410,
        "y": 420,
        "wires": [["debug-calc-response"]]
    },
    {
        "id": "debug-calc-response",
        "type": "debug",
        "z": "service-examples",
        "name": "Calc Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    }
]

