example-flows/nodes/10-server-manager-examples.json
[
    {
        "id": "server-manager-examples",
        "type": "tab",
        "label": "Server Manager Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-server-manager node\n\nFeatures demonstrated:\n- Start/Stop/Restart server\n- Status check\n- Embedded server\n- Process server\n- Leaf node"
    },
    {
        "id": "inject-start",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "1. Start Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 160,
        "y": 60,
        "wires": [["server-manager-embedded"]]
    },
    {
        "id": "server-manager-embedded",
        "type": "nats-suite-server-manager",
        "z": "server-manager-examples",
        "name": "Embedded Server",
        "serverType": "embedded",
        "port": 4222,
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": false,
        "debug": true,
        "x": 400,
        "y": 60,
        "wires": [["debug-start"]]
    },
    {
        "id": "debug-start",
        "type": "debug",
        "z": "server-manager-examples",
        "name": "Start Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-stop",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "2. Stop Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"stop\"}",
        "payloadType": "json",
        "x": 160,
        "y": 120,
        "wires": [["server-manager-embedded"]]
    },
    {
        "id": "inject-restart",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "3. Restart Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"restart\"}",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [["server-manager-embedded"]]
    },
    {
        "id": "inject-status",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "4. Status Check",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"status\"}",
        "payloadType": "json",
        "x": 180,
        "y": 240,
        "wires": [["server-manager-embedded"]]
    },
    {
        "id": "inject-process-start",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "5. Start Process Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 200,
        "y": 300,
        "wires": [["server-manager-process"]]
    },
    {
        "id": "server-manager-process",
        "type": "nats-suite-server-manager",
        "z": "server-manager-examples",
        "name": "Process Server",
        "serverType": "nats-server",
        "port": 4222,
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": false,
        "debug": true,
        "x": 440,
        "y": 300,
        "wires": [["debug-process"]]
    },
    {
        "id": "debug-process",
        "type": "debug",
        "z": "server-manager-examples",
        "name": "Process Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    }
]

